@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;  }





body {
    background: #edf06c;
    
}

.start_btn,
.rules_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50);
}
.start_btn button{
font-size: 30px;
font-weight: 500;
color: rgb(4, 143, 143);
padding: 15px 30px;
outline: none;
border: none;
border-radius: 100px;
background: #d1eef7;
cursor: pointer;
;
}
.rules_box{
    width: 540px;
    background: #f8f8f8;
    border-radius: 10px;
}
.rules_box .rules_title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightblue;
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
}
.rules_box .info_list{
    padding: 15px 35px;
    }

.rules_box .info_list .info{
    margin: 5px 0;
    font-size: 20px;
}
.rules_box .info_list .info span{
    font-weight: 600;
    color: #23af46;
}
.rules_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightblue;
}

.rules_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid lightblue;
    background: #d1eef7;
    border-radius: 100px;
    color: #23af46;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease ;
}
.buttons button.quit{
    color: #23af46;
}
.buttons button.quit:hover{
    background: lightblue;;

}
.buttons button.restart{
    color: #23af46;
}
.buttons button.restart:hover{
    background: lightblue;;
}




